.study-wrapper {
  max-width: 420px;   /* карточка стала шире */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;  /* центр по вертикали */
}

.card-container {
  perspective: 1000px;
  margin: 20px auto;
  width: 380px;
}

.flashcard {
  height: 220px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  cursor: pointer;
}

.flashcard.flipped {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 10px 25px rgba(0,0,0,.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back {
  transform: rotateY(180deg);
}

.controls {
  display: flex;
  justify-content: space-between;
  max-width: 320px;
  margin: 0 auto;
  gap: 30px;
}

#answer {
  max-width: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav-btn img {
  width: 24px;
  height: 24px;
}

.nav-btn {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid #ddd;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  transition: transform .2s, background .2s;
}

.nav-btn:hover {
  transform: translateY(-2px);
  background: #f6f6f6;
}

.nav-btn:active {
  transform: translateY(0);
}

