{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container py-4">

    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="card shadow-sm mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Профиль</h5>
                    <button id="toggleTheme" class="btn btn-sm btn-outline-secondary">
                        🌙 / ☀️
                    </button>
                </div>
                <div class="card-body">
                    <p><strong>Имя пользователя:</strong> {{ user.username }}</p>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    <p><strong>Дата регистрации:</strong> {{ user.date_joined|date:"d M Y H:i" }}</p>
                </div>
            </div>

            <div class="card shadow-sm">
                <div class="card-header">
                    Действия
                </div>
                <div class="card-body">
                    <button id="logoutBtnProfile" class="btn btn-danger">
                        Выйти
                    </button>
                </div>
            </div>

        </div>
    </div>

</div>
{% endblock %}

