/* По умолчанию светлая тема */
body[data-theme="light"] {
    background-color: #f8f9fa;
    color: #212529;
}

body[data-theme="light"] .card {
    background-color: #ffffff;
    color: #212529;
}

body[data-theme="dark"] {
    background-color: #121212;
    color: #e0e0e0;
}

body[data-theme="dark"] .card {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

body[data-theme="dark"] .navbar,
body[data-theme="dark"] .dropdown-menu {
    background-color: #1e1e1e !important;
    color: #e0e0e0 !important;
}